.carousels {
  _background-color: #0c66bf;
  grid-column: $full-grid;
  grid-row: 3 / 4;

  @include responsive(tab-port) {
    grid-template-columns: $column-grid-8;
  }

  @include responsive(phone) {
    grid-template-columns: $column-grid-4;
  }
}
.splide {
  height: 100%;
  width: 100%;

  &__track {
    height: 100%;
  }

  &__slide--header {
    display: grid !important;
    grid-template-columns: $column-grid-12;
    column-gap: $gap;
    height: 100%;
    color: $white;

    @include responsive(tab-port) {
      grid-template-columns: $column-grid-8;
    }

    @include responsive(phone) {
      grid-template-columns: $column-grid-4;
    }
  }

  &__slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.header {
  &__background {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    grid-column: $full-grid;
    z-index: 0;
  }

  &__content {
    width: 100%;
    position: absolute;
    display: flex;
    grid-column: $center-grid;
    align-self: center;
    align-items: center;
    justify-self: start;
    z-index: 10;

    @include responsive(tab-port) {
      text-align: center;
      justify-content: center;
    }

    @include responsive(phone) {
      text-align: center;
      justify-content: center;
    }
  }
}

.slider {
  &__buttons {
    display: flex;
    flex-direction: row;
    grid-column: col-start 11 / col-end 12;
    align-self: flex-end;
    justify-self: center;
    background-color: $white;
    margin-top: 0.8rem;
    z-index: 10;
  }
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background-image: $overlay;
  z-index: 2;
}
