.carousels {
  _background-color: #0c66bf;
  grid-column: $full-grid;
  grid-row: 3 / 4;

  @include responsive(tab-port) {
    grid-template-columns: $column-grid-8;
  }

  @include responsive(phone) {
    grid-template-columns: $column-grid-4;
  }
}
.splide {
  height: 100%;
  width: 100%;
}
