.carousels {
    height: calc(80vh - 1.5rem);

    @include responsive(tab-port) {
      height: calc(60vh - 1.5rem);
    }

    @include responsive(phone) {
      height: calc(50vh - 1.5rem);
    }
}

.header {
    &__background {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        grid-column: $full-grid;
        z-index: 0;
    }

    &__content {
        width: 100%;
        position: absolute;
        display: flex;
        grid-column: $center-grid;
        align-self: center;
        align-items: center;
        justify-self: start;
        z-index: 10;

        @include responsive(tab-port) {
            text-align: center;
            justify-content: center;
        }

        @include responsive(phone) {
            text-align: center;
            justify-content: center;
        }
    }
}

.slider {
    &__buttons {
        display: flex;
        flex-direction: row;
        grid-column: col-start 11 / col-end 12;
        align-self: flex-end;
        justify-self: center;
        background-color: $white;
        margin-top: 0.8rem;
        z-index: 10;
    }
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background-image: $overlay;
    z-index: 2;
}
