//--- About Section --- //

.section-about {
    height: 90rem;
    max-width: 1440px;
    margin: 4rem auto;
    _align-self: center;
    justify-self: center;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min-content, 1fr));
    grid-template-rows: repeat(3, minmax(min-content, 1fr));
    column-gap: 10rem;
    justify-content: center;
    align-items: center;

    @include responsive(tab-land) {
        height: 85rem;
        column-gap: 5rem;
        row-gap: 5rem;
    }
    @include responsive(tab-port) {
        height: auto;
        display: flex;
        flex-direction: column;
    }

    @include responsive(phone) {
        align-items: flex-start;
        justify-content: center;
        padding: 0;
    }
    @include responsive(small-phone) {
        width: 100%;
        margin: 8rem 0;
        margin-top: 4rem;
        text-align: center;
        justify-content: center;
        gap: 4rem;
        align-items: center;
    }
}

.about {
    &__image {
        height: 40rem;
        width: 45rem;

        img {
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-position: top;
            object-fit: cover;
            background-size: cover;
        }

        @include responsive(tab-land) {
            height: auto;
            width: 50rem;
        }
        @include responsive(tab-port) {
            width: 100%;
        }
        @include responsive(phone) {
            width: 100%;
        }
    }
    &-content {
        width: 45rem;

        @include responsive(small-phone) {
            width: 100%;
        }
    }

    &__heading {
        grid-column: 1 /-1;
        grid-row: 1/2;
        margin: 1.5rem 0;

        @include responsive(tab-port) {
            margin-bottom: 0rem;
        }
    }

    &__btn {
        grid-row: 3;
        grid-column: 2 / 3;
        align-self: center;
        justify-self: flex-start;
        text-decoration: none;
        color: $black;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        position: relative;
        transition: all 0.25s ease;

        &::before {
            content: "";
            width: 100%;
            height: 1px;
            position: absolute;
            bottom: -5px;
            background-color: currentColor;
            text-align: left;
        }

        &:hover,
        &:active {
            background-color: transparent;
            color: $link;
        }

        @include responsive(tab-land) {
            align-self: flex-start;
            justify-content: flex-start;
            text-align: left;
            width: 25%;
            display: inline-block;
        }

        @include responsive(tab-port) {
            align-self: flex-start;
            justify-content: flex-start;
            text-align: left;
            width: 30%;
            display: inline-block;
        }

        @include responsive(small-phone) {
            width: 35%;
        }
    }
}

.what-we-do {
    grid-column: 1 / 2;
    grid-row: 2/3;

    @include responsive(small-phone) {
        width: 95%;
    }
}

.vision-and-mission {
    grid-column: 2/3;
    grid-row: 2/3;

    @include responsive(phone) {
        margin-bottom: 4rem;
    }
    @include responsive(small-phone) {
        width: 95%;
    }
}
