.accordion {
    width: 100%;
    margin-bottom: 20px;
    border-bottom: 2px solid $button-background;
    &-header {
        display: flex;
        align-items: center;
        gap: 0.8rem;
        font-size: 1.2rem;
        font-weight: bold;
        height: 40px;
        svg {
            font-size: 1.8rem;
        }
    }

    &-content {
        overflow: hidden;
    }

    &-item {
        list-style: none;
        display: flex;
        align-items: center;
        font-size: 1rem;
        gap: 0.4rem;
        margin-left: 1rem;
        padding: 0.4rem;
        transform-origin: top center;
        _margin: 0.8rem 0.4rem;
    }
}

@media (max-width: 600px) {
}
