//--- Features Section --- //

.section-features {
    max-width: 1440px;
    margin: 4rem auto;
    display: flex;
    gap: $gap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 95%;

    @include responsive(tab-land) {
        margin: 2rem auto;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    @include responsive(phone) {
        margin: $gap auto;
        padding: $gap;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}
