//--- Features Section --- //

.section-features {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    gap: $gap;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    @include responsive(tab-land) {
        grid-column: $full-grid;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    @include responsive(phone) {
        grid-column: $center-grid;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}
