.heading {
  font-family: $font-heading;
  font-weight: 700;
  &-1 {
    font-size: 4.8rem;
    line-height: 120%;
    @include responsive(tab-land) {
      font-size: 4.2rem;
    }
  }
  &-2 {
    font-size: 3.6rem;
    line-height: 120%;
    @include responsive(tab-land) {
      font-size: 3.2rem;
    }
  }
  &-3 {
    font-size: 2.4rem;
    line-height: 130%;
  }
  &-4 {
    font-size: 2rem;
    line-height: 130%;
  }
  &-5 {
    font-size: 2.6rem;
    line-height: 130%;
  }
  &-6 {
    font-size: 1.4rem;
    line-height: 130%;
  }
}

.text {
  &-lg-2x {
    font-size: 2.4rem;
  }
  &-lg-x {
    font-size: 2rem;
  }
  &-lg {
    font-size: 1.8rem;
  }
  &-md {
    font-size: 1.6rem;
  }
  &-sm {
    font-size: 1.4rem;
  }
  &-sm-x {
    font-size: 1.2rem;
  }
  &--uppercase {
    letter-spacing: 0.08em;
    text-transform: uppercase;
  }
}

p,
span {
  font-size: 1.4rem;
  line-height: 150%;
}
