//--- Shop Section --- //

.section-shop {
    grid-column: $center-grid;
    grid-row: 6 / 7;
    _margin: 4rem 0;
    height: 50rem;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    _align-items: center;
    justify-content: center;

    @include responsive(tab-land) {
        width: 100%;
        margin: 0 auto;
    }

    @include responsive(tab-port) {
        height: 70rem;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    @include responsive(phone) {
        height: 70rem;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}

.shop {
    &__image {
        grid-column: 1 / span 6;
        align-self: center;
        width: 100%;
        height: 45rem;
        transform: translateX(10%);

        @include responsive(tab-land) {
            transform: translateX(5%);
        }

        @include responsive(tab-port) {
            transform: translateX(0);
            order: 2;
            height: 50%;
        }
        @include responsive(phone) {
            transform: translateX(0);
            order: 2;
            height: 50%;
        }

        img {
            width: 100%;
            height: 100%;
            background-position: center;
            background-size: cover;
            object-fit: cover;
        }
    }

    &__content {
        grid-column: 7 / -1;
        text-align: left;
        background-color: #f8f9fa;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 10rem;

        @include responsive(tab-land) {
            _width: 90%;
        }
        @include responsive(tab-port) {
            padding: 4rem;
            transform: translateX(0);
            height: 50%;
        }
        @include responsive(phone) {
            padding: 4rem;
            transform: translateX(0);
            height: 50%;
        }
    }

    &__btn {
        text-decoration: none;
        display: inline-block;
        padding: 0.8rem 1.6rem;
        color: $black;
        font-size: 1.6rem;
        font-weight: 500;
        border: 1px solid $black;
    }
}


//--- Contact Section --- //
.section-contact {
    grid-row: 8 /9;
    grid-column: $center-grid;
    _justify-self: center;
    background: #f8f9fa;
    height: 50rem;
    margin: 4rem 0;
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(2, minmax(min-content, max-content));
    align-items: center;
    justify-content: space-evenly;

    @include responsive(phone) {
        text-align: left;
    }
}

.contact {
    &-information {
        margin: 5rem 10rem;

        @include responsive(phone) {
            margin: 0;
        }
    }
}
