.search {
    &-container {
        display: grid;
        grid-template-columns: $column-grid-12;
        grid-template-rows: min-content 1fr;
        gap: $gap;

        @include responsive(tab-land) {
            grid-template-columns: $column-grid-8;
        }
        @include responsive(phone) {
            display: flex;
            flex-direction: column;
            width: 100%;
            _align-items: center;
            justify-content: center;
        }
        @include responsive(small-phone) {
            display: block;
            padding: 0.5rem;
            //width: 90%;
        }
    }

    &-header {
        margin: 4rem auto;
        grid-column: $center-grid;
        align-self: center;
        justify-self: center;
        text-align: center;
        max-width: 1440px;

        @include responsive(small-phone) {
        }
    }

    &-body {
        min-height: 90vh;
        grid-column: $center-grid;
        _display: flex;
        display: grid;
        gap: 3rem 1.5rem;
        justify-content: space-between;
        grid-template-columns: 30rem 1fr;

        @include responsive(phone) {
            display: flex;
            flex-direction: column;
        }
        @include responsive(small-phone) {
            display: block;
        }
    }

    &-results {
        _margin-top: 4rem;

        &__title {
        }

        &__description {
            color: #2b2b2b;
            font-size: 1.6rem;
        }

        &__found {
            display: flex;
            align-items: center;
            gap: $gap;

            span {
                display: inline-flex;
            }

            @include responsive(tab-port) {
                p {
                    display: none;
                }
            }
        }
    }

    &-btn {
        display: none;
        background-color: $button-background;
    }
}

.search-field {
    width: 100%;
}

.result-description-with-filter {
    margin: 4rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filter-container {
    position: relative;
    z-index: 100;
}

.results-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(27rem, 1fr));
    grid-template-rows: masonry;
    _grid-auto-rows: minmax(min-content, 30rem);
    _grid-gap: 3.6rem;
    grid-auto-flow: row dense;
    break-inside: auto;
    justify-content: center;
}

.result-card {
    cursor: pointer;

    &__thumbnails {
        max-height: 100%;
        transform: scale(0.95);
        transition: transform 0.25s ease;
        img {
            background-color: #0c0808;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &:hover {
            transform: scale(1);
        }

        @include responsive(phone) {
            width: 100%;
        }
    }

    &__details {
        margin-top: 0.8rem;
        padding: 0.8rem;
        display: inline-flex;
        flex-direction: column;
        &--title {
            font-size: large;

            @include responsive(phone) {
                font-size: medium;
            }
        }
        &--description {
            font-size: small;
            text-overflow: ellipsis;
            margin-top: 0.4rem;
        }
    }

    &:hover &__details {
        &--title {
            text-decoration: underline;
        }
    }
}

// --- SORT --- //

.sort {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 4rem auto;
    &-results {
        display: flex;
        align-items: center;
        gap: $gap;
    }

    form {
        label {
            margin: 1rem;
        }
    }

    &-input {
        font-size: large;
        padding: 1rem 1.6rem;
        border: none;
        outline: none;
        border-radius: 1px;
        background-color: $button-background;
        cursor: pointer;

        @include responsive(phone) {
            width: 95%;
        }
        @include responsive(small-phone) {
            width: 85%;
        }

        option {
            background-color: $white;
            &:hover {
                background-color: $link;
            }
        }
    }

    @include responsive(phone) {
        flex-direction: column;
        gap: $gap;

        form {
            min-width: 300px;
        }

        p,
        label,
        .btns-change-layouts {
            display: none;
        }
    }
}
