// --- Store --- //

.products {
    &-top-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 1.6rem 0;

        @include responsive(phone) {
            align-items: flex-start;
            text-align: left;
            flex-direction: column;
            gap: 1.6rem;
        }
    }
}

.total-products {
    font-size: 1.4rem;
    font-weight: 200;
    letter-spacing: 1px;
    flex: 0 0 70%;
    max-width: 70%;

    @include responsive(phone) {
        max-width: 100%;
        flex-basis: 100%;
    }
}

.shop {
    &-search {
        width: 100%;
        flex: 0 0 25%;
        max-width: 25%;

        @include responsive(phone) {
            max-width: 100%;
            flex-basis: 100%;
        }
    }
}
