.mt-lg-x {
  margin-top: 4rem;
}
.mb-lg-x {
  margin-bottom: 4rem;
}
.mt-lg {
  margin-top: 2.4rem;
}
.mb-lg {
  margin-bottom: 2.4rem;
}
.mt-md {
  margin-top: 1.6rem;
}
.mb-md {
  margin-bottom: 1.6rem;
}
.mt-sm {
  margin-top: 0.8rem;
}
.mb-sm {
  margin-bottom: 0.8rem;
}

.border-red {
  border: solid red;
  height: 100%;
}

.border-blue {
  border: #0c66bf solid;
  height: 100%;
}
